@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    <h2>Property Rental Management </h2>
    <p class="lead">
        allows any potential tenant
        to search an apartment that is suitable for his/her needs. The Web site also
        helps the property owner and the property manager to facilitate the
        management tasks of property rental.
    </p>
</div>

<div class="carousel slide" id="indexCarousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#indexCarousel" data-slide-to="1"></li>
            <li data-target="#indexCarousel" data-slide-to="2"></li>
            <li data-target="#indexCarousel" data-slide-to="3"></li>
            <li data-target="#indexCarousel" data-slide-to="4"></li>
            <li data-target="#indexCarousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/image-01.jpg" />               
                <div class="carousel-caption">
                    <span class="carousel-caption-inner">
                    </span>
                </div>
            </div>
            <div class="item">
                <img src="~/images/image-02.jpg" />               
                <div class="carousel-caption">
                    <span class="carousel-caption-inner">
                    </span>
                </div>
            </div>
            <div class="item">
                <img src="~/images/image-03.jpg" />
                <div class="carousel-caption">
                    <span class="carousel-caption-inner">
                    </span>
                </div>
            </div>
            <div class="item">
                <img src="~/images/image-04.jpg" />
                <div class="carousel-caption">
                    <span class="carousel-caption-inner">
                    </span>
                </div>
            </div>
            <div class="item">
                <img src="~/images/image-05.jpg" />
                <div class="carousel-caption">
                    <span class="carousel-caption-inner">
                    </span>
                </div>
            </div>
            <div class="item">
                <img src="~/images/image-06.jpg" />
                <div class="carousel-caption">
                    <span class="carousel-caption-inner">
                    </span>
                </div>
            </div>
        </div>
    </div>