@{
    ViewBag.Title = "List Information : ";
}
<br />
<br />
<h2>@ViewBag.Title</h2>
<h3>    
    <div>
        <br />
        <hr />
        @Html.ActionLink("List of Buildings", "Index", "Buildings")<br />
        <hr />
        @Html.ActionLink("List of Appartments", "Index", "Appartments")<br />
    </div>
</h3>


